{% extends 'dashboard_base.html' %}
{% block content%}
										<!--begin::Col-->
										<div class="col-xxl-8 mb-5 mb-xl-10">
											
											<!--begin::Table widget 17-->
											<div class="card card-flush border-0">
												<!--begin::Header-->
												<div class="card-header pt-7">
													<!--begin::Title-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fs-3 fw-bold text-gray-800">Printing Cost Calculator</span>
													</h3>
													<!--end::Title-->
													<!--begin::Toolbar-->
													<div class="card-toolbar">
														
													</div>
													<!--end::Toolbar-->
												</div>
												<!--end::Header-->
												<!--begin::Body-->
												<div class="card-body pt-0">
													<div class="row">
														<h1 class="page-heading d-flex text-success fw-bold fs-5 flex-column justify-content-center my-2">Product and Size Details</h1>
														<div class="col-sm-4">
															<div class="form-floating mb-5">
																<select class="form-select" id="floatingSelect" aria-label="Floating label select example">
																	<option selected>Business Card</option>
																	<option value="1">Business Card</option>
																	<option value="2">Trifold Brochure</option>
																	<option value="3">A4 Flyer</option>
																</select>
																<label for="floatingSelect">Product Name</label>
															</div>
														</div>

														<div class="col-sm-4">
															<div class="form-floating mb-5">
																<select class="form-select" id="floatingSelect" aria-label="Floating label select example">
																	<option selected>9 x 5.5</option>
																	<option value="1">9 x 5.5</option>
																	<option value="2">9.5 x 5.5</option>
																	<option value="3">10.5 x 6.5</option>
																</select>
																<label for="floatingSelect">Product Size</label>
															</div>
														</div>

														<div class="col-sm-4">
															<div class="form-floating mb-5">
																<input type="text" class="form-control" id="floatingInput" placeholder="Quantity" value="100.00"/>
																<label for="floatingInput">Required Quantity</label>
															</div>
														</div>														
														
													</div>

													<div class="row mb-5">
														<div class="col-sm-1 mb-2">
															<div class="form-check">
																<input class="form-check-input" type="radio" value="" id="flexCheckChecked1" name="radio2" checked="">
																<label class="" for="flexCheckChecked1">
																	A4
																</label>
															</div>
														</div>
														<div class="col-sm-1 mb-2">
															<div class="form-check">
																<input class="form-check-input" type="radio" value="" id="flexCheckDefault1" name="radio2">
																<label class="" for="flexCheckDefault1">
																	A3
																</label>
															</div>
														</div>
														<div class="col-sm-1 mb-2">
															<div class="form-check">
																<input class="form-check-input" type="radio" value="" id="flexCheckDefault1" name="radio2">
																<label class="" for="flexCheckDefault1">
																	A1
																</label>
															</div>
														</div>
														<div class="col-sm-1 mb-2">
															<div class="form-check">
																<input class="form-check-input" type="radio" value="" id="flexCheckDefault1" name="radio2">
																<label class="" for="flexCheckDefault1">
																	Custom
																</label>
															</div>
														</div>
													</div>

													<div class="row mb-5">
														<div class="d-flex align-items-center">
															<!--begin::Description-->
															<div class="flex-grow-1">
																<a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">Estimated</a>
																<span class="text-muted fw-semibold d-block">A4</span>
															</div>
															<!--end::Description-->
															<span class="badge badge-light-success fs-6 fw-bold">12 No's</span>
														</div>
													</div>
													<div class="row mb-5">
														<h1 class="page-heading d-flex text-primary fw-bold fs-5 flex-column justify-content-center my-2">Substrate and Size Details</h1>
														<div class="col-sm-4">
															<div class="form-floating mb-5">
																<select class="form-select" id="floatingSelect" aria-label="Floating label select example">
																	<option selected>Art Matt 350 GSM</option>
																	<option value="1">Ice Gold 285 GSM</option>
																	<option value="2">Art Matt 350 GSM</option>
																	<option value="3">Art Matt 300 GSM</option>
																	<option value="4">Art Glossy 250 GSM</option>
																	<option value="5">Art Glossy 150 GSM</option>
																	<option value="6">Paper Sticker Matt</option>
																</select>
																<label for="floatingSelect">Substrate</label>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="form-floating mb-5">
																<select class="form-select" id="floatingSelect" aria-label="Floating label select example">
																	<option selected>70 x 100</option>
																	<option value="1">70 x 100</option>
																</select>
																<label for="floatingSelect">Substrate Size</label>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="form-floating mb-5">
																<input type="text" class="form-control" id="floatingInput" placeholder="Quantity" value="2"/>
																<label for="floatingInput">Quantity</label>
															</div>
														</div>
													</div>
													<div class="row mb-5">
														<div class="col-sm-3 mb-2">
															<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
																<div class="m-0">
																	<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">A4</span>
																	<span class="text-gray-500 fw-semibold fs-6">Selected</span>
																</div>
															</div>
														</div>
														<div class="col-sm-3 mb-2">
															<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
																<div class="m-0">
																	<span class="text-info fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">12.00</span>
																	<span class="text-gray-500 fw-semibold fs-6">Required</span>
																</div>
															</div>
														</div>
														<div class="col-sm-3 mb-2">
															<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
																<div class="m-0">
																	<span class="text-success fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">18.00</span>
																	<span class="text-gray-500 fw-semibold fs-6">Available</span>
																</div>
															</div>
														</div>
														<div class="col-sm-3 mb-2">
															<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
																<div class="m-0">
																	<span class="text-warning fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">6.00</span>
																	<span class="text-gray-500 fw-semibold fs-6">Remaining</span>
																</div>
															</div>
														</div>
													</div>
													
													<div class="row">
														<h1 class="page-heading d-flex text-danger fw-bold fs-5 flex-column justify-content-center my-2">Pricing Details</h1>
														<div class="flex-grow-1">
																<!--begin::Table-->
																<div class="table-responsive border-bottom mb-9">
																	<table class="table mb-3">
																		<thead>
																			<tr class="border-bottom fs-6 fw-bold text-muted">
																				<th class="min-w-175px pb-2">Description</th>
																				<th class="min-w-175px pb-2">Quantity</th>
																				<th class="min-w-175px pb-2">Price</th>
																				<th class="min-w-100px text-end pb-2">Amount</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr class="fw-bold text-gray-700 fs-5 text-end">
																				<td class="d-flex align-items-center pt-6">
																				<i class="fa fa-genderless text-danger fs-2 me-2"></i>Substrate Cost</td>
																				<td class="pt-6 text-dark fw-bolder">2.00</td>
																				<td class="pt-6 text-dark fw-bolder">QAR 1.20</td>
																				<td class="pt-6 text-dark fw-bolder">QAR 2.40</td>
																			</tr>
																			
																			<tr class="fw-bold text-gray-700 fs-5 text-end">
																				<td class="d-flex align-items-center">
																				<i class="fa fa-genderless text-success fs-2 me-2"></i>Printing Cost</td>
																				<td class="pt-6 text-dark fw-bolder">-</td>
																				<td class="pt-6 text-dark fw-bolder">-</td>
																				<td class="fs-5 text-dark fw-bolder">QAR 3.20</td>
																			</tr>
																			
																		</tbody>
																	</table>
																</div>
																<!--end::Table-->
																<!--begin::Container-->
																<div class="d-flex justify-content-end">
																	<!--begin::Section-->
																	<div class="mw-300px">
																		<!--begin::Item-->
																		<div class="d-flex flex-stack mb-3">
																			<!--begin::Accountname-->
																			<div class="fw-semibold pe-10 text-gray-600 fs-7">Subtotal:</div>
																			<!--end::Accountname-->
																			<!--begin::Label-->
																			<div class="text-end fw-bold fs-6 text-gray-800">QAR 17.40</div>
																			<!--end::Label-->
																		</div>
																		<!--end::Item-->
																		<!--begin::Item-->
																		<div class="d-flex flex-stack mb-3">
																			<!--begin::Accountname-->
																			<div class="fw-semibold pe-10 text-gray-600 fs-7">Catridge 10%</div>
																			<!--end::Accountname-->
																			<!--begin::Label-->
																			<div class="text-end fw-bold fs-6 text-gray-800">QAR 1.74</div>
																			<!--end::Label-->
																		</div>
																		<!--end::Item-->
																		<!--begin::Item-->
																		<div class="d-flex flex-stack mb-3">
																			<!--begin::Accountname-->
																			<div class="fw-semibold pe-10 text-gray-600 fs-7">Overhead 30%</div>
																			<!--end::Accountname-->
																			<!--begin::Label-->
																			<div class="text-end fw-bold fs-6 text-gray-800">QAR 5.22</div>
																			<!--end::Label-->
																		</div>
																		<!--end::Item-->
																		<!--begin::Item-->
																		<div class="d-flex flex-stack">
																			<!--begin::Code-->
																			<div class="fw-semibold pe-10 text-gray-600 fs-7">Grand Total</div>
																			<!--end::Code-->
																			<!--begin::Label-->
																			<div class="text-end fw-bold fs-6 text-gray-800">QAR 24.36</div>
																			<!--end::Label-->
																		</div>
																		<!--end::Item-->
																	</div>
																	<!--end::Section-->
																</div>
																<!--end::Container-->
														</div>
													</div>
													
												</div>
												<!--end: Card Body-->
											</div>
											<!--end::Table widget 17-->
										</div>
										<!--end::Col-->
									</div>
									<!--end::Row-->
									
								</div>
								<!--end::Content-->
							</div>
							<!--end::Content wrapper-->

							{% endblock %}